/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

.hidden{
  display: none;
}

body {
  text-align: center;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
    height: 200px;
}

audio {
  transition: all 5s ease-in-out;
  opacity: 0;
} 

audio.show {
  opacity: 1;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
